<% provide(:title, "Services") %>
<% provide(:service, "active") %>

<div class="brand">Assimex Couriers</div>
 <%= link_to image_tag(image_url("https://c2.staticflickr.com/2/1466/26178367953_cf67755e64.jpg") , width:"75px"), "/" %>
<div class="address-bar">3481 Melrose Place | Croydon Surrey, CR0 5CN | <%= link_to '07429203168', 'tel:07429203168', target:"_blank" %></div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Company
                    <strong>Services</strong>
                </h2>
            
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                 <%= image_tag(image_url("https://c2.staticflickr.com/2/1644/26103333203_01854da06d_b.jpg"), alt:"slide2",  class:"img-responsive img-full") %>
                <h2>Service 1 Title
                    <br>
                    <small>Subtitle</small>
                </h2>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a href="#" class="btn btn-default btn-lg">Read More</a>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                  <%= image_tag(image_url("https://c2.staticflickr.com/2/1673/26680763086_a956d5a752_b.jpg"), alt:"slide1",  class:"img-responsive img-full") %>
                <h2>Service 2 Title
                    <br>
                    <small>Subtitle</small>
                </h2>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a href="#" class="btn btn-default btn-lg">Read More</a>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <%= image_tag(image_url("https://c2.staticflickr.com/2/1662/26434643340_1f7eee061c_b.jpg"), alt:"slide3",  class:"img-responsive img-full") %>
                <h2>Service 3 Title
                    <br>
                    <small>Subtitle</small>
                </h2>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a href="#" class="btn btn-default btn-lg">Read More</a>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next"><a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
