<% provide(:title, "Vacancies") %>
<% provide(:vacancy, "active") %>

<div class="brand">Assimex Couriers</div>
 <%= link_to image_tag(image_url("https://c2.staticflickr.com/2/1466/26178367953_cf67755e64.jpg") , width:"75px"), "/"%>
<div class="address-bar">3481 Melrose Place | Croydon Surrey, CR0 5CN | <%= link_to '07429203168', 'tel:07429203168', target:"_blank" %></div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Assimex Couriers</strong> <br>Vacancies
                </h2>
                <hr>
            </div>
            <p> We're one of the UK's most exciting startups, and we all have one goal: to change the way 
                  people view couriers delivery. Interested? As a driver, you'll be a self-employed, 
                  and free to work to your own schedule. You'll earn great money! </p>
            
            <!--
            <div class="col-md-6">
                <img  src="" alt="">
                 <%= image_tag(image_url("https://c2.staticflickr.com/2/1644/26103333203_01854da06d_b.jpg"), alt:"slide 2",  class:"img-responsive img-border-left") %>
            </div>
            <div class="col-md-6">
                <p>This is a great place to introduce your company or project and describe what you do.</p>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div> -->
            <div class="clearfix"></div>
        </div>
    </div>
    
    
     <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>What you'll need ?</strong>
                </h2>
                <hr>
            </div>
            <p> Ready to get on the road as a Assimex Couriers driver? Here's everything you need in 
            order to sign up:  </p>
            <ul class ="fa-ul">
                <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Right to work in the UK</li>
                <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Driving Licence</li>
                <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Van, and valid road tax and MOT</li>
                <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Goods in Transit Cover </li>
                <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Proof of address: landline bills, bank statments...</li>
            </ul>
            <p> To get in touch, click <%= link_to 'here', new_contact_path %>. We will get back to you!</p>
           
            <!--
            <div class="col-md-6">
                <img  src="" alt="">
                 <%= image_tag(image_url("https://c2.staticflickr.com/2/1644o /26103333203_01854da06d_b.jpg"), alt:"slide 2",  class:"img-responsive img-border-left") %>
            </div>
            <div class="col-md-6">
                <p>This is a great place to introduce your company or project and describe what you do.</p>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div> -->
            <div class="clearfix"></div>
        </div>
    </div>
    
    
<!--
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>  -->

</div>
<!-- /.container -->
