<%# add navigation links to this file %>
<li "<%= yield(:home) %>"> <%= link_to 'Home', root_path %> </li>
<li "<%= yield(:about) %>"> <%= link_to 'About', page_path('about') %></li>
<li "<%= yield(:service) %>"><%= link_to 'Services', page_path('service') %></li>
<li "<%= yield(:vacancy) %>"><%= link_to 'Vacancies', page_path('vacancy') %></li>
<li "<%= yield(:contact) %>"><%= link_to 'Contact', new_visitor_path%></li>
