<%# add navigation links to this file %>
<li class = "<%= yield(:home)%>"> <%= link_to 'Home', root_path %> </li>
<li class = "<%= yield(:about)%>"> <%= link_to 'About', page_path('about') %></li>
<li class = "<%= yield(:service)%>"><%= link_to 'Services', page_path('service') %></li>
<li class = "<%= yield(:vacancy)%>"><%= link_to 'Vacancies', page_path('vacancy') %></li>
<li class = "<%= yield(:contact)%>"><%= link_to 'Contacts', new_contact_path %></li>
